# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.env
*.local
*.DS_Store
db.sqlite3

# Environment variables
.env

# macOS-specific files
.DS_Store

# Ignore virtual environments
.venv

# Ignore Docker-related files
*.env.docker
__pycache__/
*.pid
*.seed
*.cover
*.coverage
.coverage.*
.cache
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3
